<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>기대효과</title>
</head>
<body>

    <nav>
        <a href="/analyze/">분석 목록</a>
    </nav>

    <h2>
        분석을 통해 인사이트 도출
    </h2>
    <hr>

    <style>
        h2{color: white; background-color: black;
        }
    </style>

    <p>사회적 거리두기 시점 이후 자동차 매출량은 증가했고, 대중교통 이용량은 급감했다. 확진자 수 증가에 따른 코로나 전염에 대한 우려 때문인 것으로 예상된다. 또한 인구 수가 많을 수록 대중교통 이용량 감소폭이 컸고, 평소 이용하는 이동수단의 비율 중 대중교통이 차지하는 부분이 클 수록 대중교통 이용량 감소율이 컸다.</p>
    <p>인구이동량과 매출량 모두 사회적 거리두기 시점을 기준으로 감소하였으나, 인구 이동량과 매출량 사이에 상관관계 내지는 인과관계가 있다고 보기 어렵다. 이동이 제한되어도 사람들은 다른 수단을 통해 계속 소비를 한다고 볼 수 있다. 인구 이동량과 매출량 사이에 상관관계가 없기 때문에, 사회적 거리두기가 해제된 이후에도 실제 물리적인 이동이 일어나지 않는 온라인이나 메타버스 산업의 전망을 기대해 볼 수 있을 것이다.</p>
    </br>

    <h2>
        향후 개선 사항 및 기대 효과
    </h2>
    <ul>
    <li>이동량과 매출량 그래프만으로는 상관관계를 알기가 어려우니 추가로 분석이 필요하다.</li>
    <li>코로나 블루(우울증)에 관한 데이터를 더 찾아서 거리두기로 인해 우울감을 느끼는 사람들에 대한 예방책에 대한 분석을 추가적으로 수행할 필요가 있다.</li>
    </ul>


</body>
</html>
