<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
</head>
<body>
    <nav>
        <a href="/purpose/">분석 목적 및 업무 관리</a>
        <a href="/analyze/">분석 결과</a>
        <a href="/review/">분석 소감</a>
    </nav>


    <h2>Portfolio</h2>
    <hr></hr>
    <style>
        h2{color: navy;
        }
    </style>
    </br>
    </br>
    </br>
    </br>
    <center>
    <h1>코로나 19 사회적 거리두기 정책이 개인에게 미치는 영향 분석</h1>
    </center>

    <style>
        h1{background-color: yellow;
        }
    </style>

    </br>
    </br>
    </br>
    <center>
    <h3>김예은 박미현 신은아 제갈덕 황수연</h3>
    </center>
</body>
</html>