<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>분석 개요</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    <h1>분석 목적</h1>
    <hr>
    <style>
        h1{color: navy;}
    </style>
    <p>본 프로젝트는 코로나 19로 인해서 시행되게 된 거리두기 정책이 개인의 삶에 얼마나 영향을 미치는지를 분석하기 위한 목적으로 시작되었다.</p>
    <p>프로젝트 목적에 맞게 가장 먼저 사람들의 이동량 데이터를 이용하여 분석을 시작한다. 사회적 거리두기와 이동량 사이 연관성, 사회적 거리두기와 이동량 증감율, 이동량(증감율)과 확진자 수에 대한 분석을 시행한다.</p>
    <p>다음으로는 거리두기 이외에도 개인의 삶에서 변화한 부분이 있는지를 네 가지 측면으로 나눠서 분석을 수행했다.</p>
    <p>거리두기 국가의 경제에 영향을 미치는지, 개인의 재정 상황에 영향을 미치는지, 그리고 개인이 거리두기 이전과 동일한 수준으로 소비를 하는지 분석하였다.</p>
    <p>개인의 소비와 관련하여 인구 이동량과 매출 간 상관관계를 분석하고 거리두기 이후 전자상거래가 증가함에 따라 어떤 종목의 소비가 많이 이루어지는지 분석하였다.</p>
    <p>이에 이어 신용 카드 데이터를 분석하여 카드 이용액이 많아졌는지와 거리두기 시행 이전과 이후에 상위 매출 업종이 달라졌는지를 확인해 보았다.</p>
    <p>상위 매출 중 2위인 자동차 분야에서 자동차의 매출이 증가했다면, 자가용 이용량도 증가했는지를 분석해 보았다.</p>
    <p>네 번째로는 이동량과 경제 상황에 대해 분석하였고, 이를 경제 심리 지수, 매출 데이터를 사용해서 상관관계를 내려고 했다.</p>
    <p>물직적인 것에 대한 분석에 추가하여 심리적인 분야에서 거리두기 시행이 영향을 미치는지에 대해 분석을 하며 본 프로젝트를 마치려 한다.</p>

    </br>
    </br>
    </br>
    <h1>프로젝트 업무 관리</h1>
    <hr>
    <table border="1">
        <caption><b>WBS</b></caption>
        <thead>
            <tr>
                <th>Project Management</th>
                <th>작업 책임자</th>
                <th>시작일</th>
                <th>종료일</th>
                <th>기간</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><b>프로젝트 수행 준비</b></td>
                <td><b>전체</b></td>
                <td><b>2022-04-26</b></td>
                <td><b>2022-04-28</b></td>
                <td><b>3</b></td>
            </tr>

            <tr>
                <td>아이디어 구상</td>
                <td>전체</td>
                <td>2022-04-26</td>
                <td>2022-04-26</td>
                <td>1</td>
            </tr>

            <tr>
                <td>데이터 수집 계획</td>
                <td>전체</td>
                <td>2022-04-27</td>
                <td>2022-04-27</td>
                <td>1</td>
            </tr>

            <tr>
                <td>데이터 분석 및 시각화 계획</td>
                <td>전체</td>
                <td>2022-04-28</td>
                <td>2022-04-28</td>
                <td>1</td>
            </tr>

            <tr>
                <td><b>프로젝트 Kick-Off</b></td>
                <td><b>전체</b></td>
                <td><b>2022-04-28</b></td>
                <td><b>2022-04-28</b></td>
                <td><b>1</b></td>
            </tr>

            <tr>
                <td>사회적 거리두기가 개인에게 미치는 영향 분석</td>
                <td>전체</td>
                <td>2022-04-28</td>
                <td>2022-04-28</td>
                <td>1</td>
            </tr>

            <tr>
                <td><b>데이터 수집</b></td>
                <td><b>전체</b></td>
                <td><b>2022-04-28</b></td>
                <td><b>2022-04-28</b></td>
                <td><b>1</b></td>
            </tr>

            <tr>
                <td>통신모바일 인구 이동량 데이터 수집</td>
                <td>전체</td>
                <td>2022-04-28</td>
                <td>2022-04-28</td>
                <td>1</td>
            </tr>

            <tr>
                <td>신용카드 지역별 월간 일평균 데이터 수집</td>
                <td>전체</td>
                <td>2022-04-28</td>
                <td>2022-04-28</td>
                <td>1</td>
            </tr>

            <tr>
                <td>대중교통 이용량 데이터 수집</td>
                <td>박미현</td>
                <td>2022-04-28</td>
                <td>2022-04-28</td>
                <td>1</td>
            </tr>

            <tr>
                <td>코로나로 인한 삶에 관한 설문조사 데이터 수집</td>
                <td>김예은</td>
                <td>2022-04-28</td>
                <td>2022-04-28</td>
                <td>1</td>
            </tr>

            <tr>
                <td><b>데이터 분석 및 시각화</b></td>
                <td><b>전체</b></td>
                <td><b>2022-04-28</b></td>
                <td><b>2022-05-08</b></td>
                <td><b>11</b></td>
            </tr>

            <tr>
                <td>거리두기 시행으로 인한 인구 이동량 변화 데이터 분석</td>
                <td>제갈덕</td>
                <td>2022-04-28</td>
                <td>2022-05-08</td>
                <td>11</td>
            </tr>

            <tr>
                <td>거리두기 시행이 자산, 부채 등 개인의 경제에 미친 영향 분석</td>
                <td>김예은</td>
                <td>2022-04-28</td>
                <td>2022-05-08</td>
                <td>11</td>
            </tr>

            <tr>
                <td>거리두기 시행과 전자상거래 결제금액간의 상관관계 분석</td>
                <td>신은아</td>
                <td>2022-04-28</td>
                <td>2022-05-08</td>
                <td>11</td>
            </tr>

            <tr>
                <td>카드데이터를 업종별로 결제금액 분석 후 거리두기 시행과 연관성이 있는지 분석</td>
                <td>황수연</td>
                <td>2022-04-28</td>
                <td>2022-05-08</td>
                <td>11</td>
            </tr>

            <tr>
                <td>인구이동 데이터와 카드데이터 상관관계 분석</td>
                <td>박미현</td>
                <td>2022-04-28</td>
                <td>2022-05-08</td>
                <td>11</td>
            </tr>

            <tr>
                <td>거리두기 시행 전후 이동수단 이용량 변화 분석</td>
                <td>박미현</td>
                <td>2022-04-28</td>
                <td>2022-05-08</td>
                <td>11</td>
            </tr>

            <tr>
                <td>거리두기 전후 사람들의 심리 상태 변화 분석</td>
                <td>김예은</td>
                <td>2022-04-28</td>
                <td>2022-05-08</td>
                <td>11</td>
            </tr>

            <tr>
                <td><b>보고(포트폴리오, 발표 준비)</b></td>
                <td><b>전체</b></td>
                <td><b>2022-05-08</b></td>
                <td><b>2022-05-09</b></td>
                <td><b>2</b></td>
            </tr>

            <tr>
                <td>포트폴리오 초안 작성</td>
                <td>전체</td>
                <td>2022-05-08</td>
                <td>2022-05-09</td>
                <td>2</td>
            </tr>

            <tr>
                <td>포트폴리오 마무리</td>
                <td>황수연</td>
                <td>2022-05-08</td>
                <td>2022-05-09</td>
                <td>2</td>
            </tr>

            <tr>
                <td>분석 결과 웹서버에 띄우기 (포트폴리오)</td>
                <td>김예은</td>
                <td>2022-05-08</td>
                <td>2022-05-09</td>
                <td>2</td>
            </tr>

            <tr>
                <td>발표 ppt 제작</td>
                <td>박미현</td>
                <td>2022-05-08</td>
                <td>2022-05-09</td>
                <td>2</td>
            </tr>

            <tr>
                <td>발표 대본 작성 및 시뮬레이션</td>
                <td>제갈덕</td>
                <td>2022-05-08</td>
                <td>2022-05-09</td>
                <td>2</td>
            </tr>

            <tr>
                <td>최종 기획안 작성</td>
                <td>신은아</td>
                <td>2022-05-08</td>
                <td>2022-05-09</td>
                <td>2</td>
            </tr>



        </tbody>
    </table>

    </br>
    </br>
    </br>
</body>
</html>